/* homepage.css */
body{
	color: white;
	background-color: black;
	font-family: 'Secular One', sans-serif;
}

.parallax img{
	opacity: 0.7;
}


/* horizontal nav slider indicator */
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.chapterImgs img{
	width: 550px;
	
	height: 660px;
	
	border: 50px solid white;
}

img.chapterImgs{
	width: 550px;
	
	height: 660px;
	
	border: 50px solid white;
}
img.wideChapterImgs{
	width: 580px;
	
	height: 450px;
	
	border: 50px solid white;

}
.wideChapterImgs img{
	width: 580px;
	
	height: 450px;
	
	border: 50px solid white;
}

.headerGrid img{
	height: 500px;
	width: 350px;
	border: 2px solid white;

}

.scrollspyMenu li a{
	color:white;
}

.table-of-contents a.active {
    font-weight: 500;
    padding-left: 18px;
    border-left: 2px solid red;
 }

.section p{
	font-size: 20px;
}

/*CAROUSEL*/

 .carousel .carousel-item {
  visibility: hidden;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .carousel-item > img {
  width: 100%;
}

.carousel .carousel-item p {
	color: white;
	position: relative;
	left: 150px;
}

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

div.scrollIndicator{
	background-color: #333;
	opacity: 0.3;
	z-index: 1;
	width: 200px;
	height: 260px;
}
/*HORIZONTAL SCROLL*/
div.scrollmenu {
  /*background-color: #333; /* #333 */
  /*overflow-x: scroll; 
  white-space: nowrap;  /*nowrap */
  /*display: block;*/
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  flex-wrap: nowrap;
  margin-left: 0;
  padding-left: 0;
  /*border: 1px solid green;
  height: 150px;*/

}
div.scrollmenu .scrollItem{
	/*padding: 20px;
	white-space:normal;
	width:43%;
	float:left;*/
	flex: 400px;
	min-width: 700px;
	margin-right: 25px;
	/*margin-left: 5rem; /*-0.95rem*/
    /*padding-left: 0;
    margin-right: 55px;
	/*margin: 25px;
	padding: 25px;*/
}

div.scrollmenu a {
  display: inline-block; 
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

div.scrollmenu .scrollItem img {
	/*display:inline !important;*/
	/*width: 150px;
	height: 250px;*/
	margin-right: 85px;


}
div.scrollmenu .scrollItem p {
	padding-left: 10px;
	/*display:inline !important;*/
	/*width: 150px;
	height: 250px;*/
	/*white-space: normal !important;  /*nowrap */
	 /*width:43%;
	  padding-top:5px;
	  border-style:solid;
	  border-color:#336699;
	  border-width:1px;
	  padding-left:3px;
	  padding-bottom:10px; */


}

.scrollItem{
	width:43%;
	float:left;
}
/* CARDS (images)*/
.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}
.card.sticky-action .card-reveal {
  z-index: 1;
  padding-bottom: 64px;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .card-reveal {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}

/*MATERIALBOX*/
.materialboxed {

  display: inline !important; /* block */
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-backface-visibility: hidden;
}

.materialboxed:hover:not(.active) {
  opacity: .8; /*.8*/
}

.materialboxed.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

#materialbox-overlay {
  position: fixed; /* fixed */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #292929; /*#292929*/
  z-index: 1000;
  will-change: opacity;
}

.materialbox-caption {
  position: fixed;
  display: none;
  color: #fff;
  line-height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0% 15%;
  height: 50px;
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
}

/* CONTAINER*/

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    /*width: 85%; */
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 85%; /*70%*/
  }
}









